body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    padding: 2rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
form > input,
form > button{
    width: 100%;
    min-height: 3rem;
    padding: 0.3rem 0.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
}
.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));;
    gap: 1rem;
}
.empty{
    border: 2px solid #ccc;
    text-align: center;
    padding: 2rem;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ccc;
}
.item{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    gap: 10px;
    position: relative;
    border-left: 0.5rem solid black;
}

/* ------------------------------------------------------------------ */
.item > .state{
    display: none;
    padding: 0.3em 0.5em;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: green;
    color: white;
}
.list .item[data-state='done'] .state{
    display: block;
}
.item[data-state='done']{
    background-color: #ccc;
}
/* --------------------------------------------------- */

.list-actions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.2rem;
}
.title{
    font-weight: bold;
}
.list-actions button{
    padding: 0.3rem 0.7rem;
    font-size: 1.1rem;
}
.list-actions button.active{
    background-color: blue;
    color: white;
}

.text{
font-size: 1.3rem;
}
.actions{
    display: flex;
    gap: 1rem;

}
.divider{
border: 1px solid black;
}
div > button{
    padding: 5px 10px;
}
.hidden{
    display: none;
}
.toast{
    display: none;
    /* display: flex;  */
    position: fixed;
    bottom: 3rem;
    left: 50%;
    width: 90%;
    max-width: 24rem;
    transform: translateX(-50%);
    bottom: 3rem;
    border: 1px solid #ccc;
    box-shadow: 0 0.2rem 0.4rem #0003;
}
.active{
    display: flex;
}
.toast > .icon{
    padding: 1rem;
    width: 4rem;
    height: 100%;
}
.toast > .icon > svg{
    display: none;
    width: 2rem;
    height: 2rem;
}
.toast[data-state="success"] > .icon > svg:nth-child(1),
.toast[data-state="info"] > .icon > svg:nth-child(2),
.toast[data-state="warning"] > .icon > svg:nth-child(3),
.toast[data-state="error"] > .icon > svg:nth-child(4){
    display: block;
}
.toast[data-state="success"]>.icon>svg:nth-child(1){
    color: green;
}
.toast[data-state="info"]>.icon>svg:nth-child(2){
    color: blue;
}
.toast[data-state="warning"]>.icon>svg:nth-child(3){
    color: orange;
}
.toast[data-state="error"]>.icon>svg:nth-child(4){
    color: red;
}

.toast > .texts{
    padding: 1rem;
}
.toast > .texts > .title{
    font-weight: bold;
    text-transform: uppercase;
}
.toast[data-state="success"]>.texts>.title {
    color: green;
}
.toast[data-state="info"]>.texts>.title {
    color: blue;
}
.toast[data-state="warning"]>.texts>.title {
    color: orange;
}
.toast[data-state="error"]>.texts>.title {
    color: red;
}
.toast > .close{
    width: 4rem;
    margin-left: auto;
    padding: 1rem;
}
.toast>.close>button>svg {
    width: 2rem;
    height: 2rem; 
}
.toast>.close>button {
    padding: 0;
    border: none;
    background-color: transparent;
}
.toast>.close>button:hover {
    cursor: pointer;
    transform: scale(1.2);
}
